[Unit]
Description=EscalonService
After=network.target

[Service]

User=ubuntu
Group=ubuntu


WorkingDirectory=/home/ubuntu/demo/demo-4

# Ejecutar usando el entorno virtual
ExecStart=/bin/bash -c 'source /home/ubuntu/env/bin/activate && streamlit run streamZoneDetections.py --server.port=8503 --server.address=0.0.0.0'

# Si quieres que se reinicie si falla
Restart=always
RestartSec=5

# Opcional: variables de entorno
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
